
.meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h3 {
    padding: 0 10px;
}

.name {
    flex: 1;
}

.description {
    font-style: italic;
    flex: 2;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}