$main-black: #292929;
$main-white: #fff;
$main-grey: #f2f2f2;
$main-red: #ff0000;
$main-blue: #3397ee;
$main-green: #00ff00;
$main-yellow: #ffff00;
$secondary-black: #000;
$secondary-white: #fff;
$sign-green: #6cbc34;
$light-orange: #f5a623;
$heading-orange: #c27634;
$secondary-blue: #f0f4fc;
